---
import BaseLayout from '../../layouts/BaseLayout.astro';

const author = 'TanHa';
const title = 'Blog';
const description = 'Latest articles.';
const permalink = `${Astro.site.href}blog`;

let allPosts = await Astro.glob('../../data/blog-posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
---

<BaseLayout author={author} title={title} description={description} permalink={permalink} current="blog">
  <!-- <div class="container">
    <h1>Blog</h1>
    {allPosts.map((post, index) => {
      const href = `/blog/${post.file.split('/').pop().split('.').shift()}`;
      return (
        <div>
          { index !== 0 && <hr /> }
          <div class="post-item">
            <h2>
              <a href={href}>{post.frontmatter.title}</a>
            </h2>
            <p>{post.frontmatter.description}</p>
            <div class="post-item-footer">
              <span class="post-item-date">— {post.frontmatter.publishDate}</span>
            </div>
          </div>
        </div>
      )
    })}
  </div> -->
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2">
      {allPosts.map((post, index) => {
        const href = `/tanha-blog/blog/${post.file.split('/').pop().split('.').shift()}`;
      //   {
      //     post.frontmatter.img &&
      //     <a href={href} class="shrink-0">
      //       <img src={post.frontmatter.img} alt={post.frontmatter.title} width="160" height="160" class="w-20 h-20 md:w-40 md:h-40 rounded bg-base-200 object-cover" />
      //     </a>
      //   }
      // <div class="flex flex-col gap-4">
      //   <h2 class="text-2xl font-bold">
      //     <a class="hover:underline" href={href}>{post.frontmatter.title}</a>
      //   </h2>
      //   <p class="text-sm text-base-content/70">{post.frontmatter.description}</p>
      // </div>
      return (
          <div class="py-6 flex gap-6 md:gap-10 items-start">
            <a href={href} class="shrink-0">
                <img src={post.frontmatter.img} alt={post.frontmatter.title} class="md:w-48 md:h-48 rounded bg-base-200 object-cover" />
            </a>
            <div class="flex flex-col gap-4">
              <h2 class="text-2xl font-bold mt-0">
                <a class="hover:underline" href={href}>{post.frontmatter.title}</a>
              </h2>
              <p class="text-sm text-base-content/70">{post.frontmatter.description}</p>
              <span class="post-item-date">by {post.frontmatter.author} — {post.frontmatter.publishDate}</span>
            </div>
          </div>
        )
      })}
    </div>
    <div class="col-span-1">05</div>
  </div>
</BaseLayout>

<style>
  h2,
  .post-item-footer {
    font-family: var(--font-family-sans);
    font-weight: 700;
  }

  .post-item-date {
    color: var(--text-secondary);
    text-align: left;
    text-transform: uppercase;
    margin-right: 16px;
  }
</style>
